# Ignorar carpetas de imágenes y labels
placas_dataset/train/
placas_dataset/valid/
placas_dataset/test/

# Ignorar archivos temporales de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar logs
*.log

# Ignorar archivos de sistema
.DS_Store
Thumbs.db
